* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --gray-100: #D7E0EB;
  --gray-300: #8C9CAD;
  --gray-500: #6E7E90;
  --gray-600: #45505E;
  --gray-700: #2E3742;

  --green-500: #00AB63;

  --shadow-color: rgba(13, 17, 27, 0.08);
}

body {
  padding: 4rem;
  color: var(--gray-700);
  -webkit-font-smoothing: antialiased;
  background: var(--white) url("/background.png") no-repeat fixed bottom right;
  background-size: auto 100%;
}

body, input, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }

  body {
    background-size: auto 85%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 87.5%;
  }

  body {
    background-size: auto 50%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 87.5%;
  }

  body {
    background-image: none;
  }
}
