.headerContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;

  margin-bottom: 6.25rem;

  img {
    width: 10rem;
    height: 5rem;
  }
}

.headerContent {
  time {
    font-weight: 500;
    font-size: 1.125rem;
  }

  p {
    margin-top: 0.5rem;
    color: var(--gray-300);
    font-size: 0.9rem;
  }
}

@media (max-width: 550px) {
  .headerContainer {
    img {
      width: 8rem;
      height: 4rem;
    }
  }

  .headerContent {
    time {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
